.footer {
  background-color: #1c1c1c;
  color: #ccc;
  padding: 3.75rem 8%;
  font-family: "Inter", sans-serif;
  border-top: 0.0625rem solid #ffffff;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: 2.5rem;
  border-bottom: 0.0625rem solid #333;
  padding-bottom: 1.875rem;
}

/* --- Left Section --- */
.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.footer-logo img {
  width: 8.125rem !important;
  height: 2.5rem !important;
}

.footer-logo h2 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-brand p {
  margin: 0.9375rem 0;
  color: #aaa;
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: left;
}

.footer-socials {
  display: flex;
  gap: 1.125rem;
  margin-top: 0.625rem;
}

.footer-socials a {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #00ff66;
}

/* --- Columns --- */
.footer-section h3 {
  color: #fff;
  margin-bottom: 0.9375rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer-section ul li {
  margin-bottom: 0.625rem;
  text-align: left;
}

.footer-section ul li a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #00ff66;
}

/* --- Subscribe Box --- */
.footer-subscribe p {
  color: #aaa;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.9375rem;
  text-align: left;
}

.subscribe-box {
  display: flex;
  align-items: flex-start !important;
  background-color: #D9D9D9;
  border: 0.125rem solid #878D95;
  border-radius: 1.5625rem;
  overflow: hidden;
  width: 100%;
}

.subscribe-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.9375rem 1.5625rem;
  background: transparent;
  color: #000000;
}

.subscribe-box button {
  background: linear-gradient(111deg, #02FF1B 0%, #009311 100%),
  linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  border: none;
  border-radius: 0rem;
  color: #000;
  font-size: 1.1rem;
  padding: 0.625rem 1.5625rem 0.625rem 1.5625rem;
  cursor: pointer;
  transition: 0.3s;
  height: 2.8125rem !important;
}

.subscribe-box button:hover {
  background-color: #00cc52;
  transform: none;
}

/* --- Footer Bottom --- */
.footer-bottom {
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: -3.125rem;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-bottom .highlight {
  color: #00ff66;
  font-weight: 600;
}